Connected Services/FoodService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar11.fulton.asu.edu/Page9/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FoodService" />
  <xs:element name="GetMenu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FoodService" minOccurs="0" name="GetMenuResult" nillable="true" type="q1:ArrayOfMenuItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FoodService" minOccurs="0" name="orderItems" nillable="true" type="q2:ArrayOfOrderItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FoodService" minOccurs="0" name="PlaceOrderResult" nillable="true" type="q3:OrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FoodService" minOccurs="0" name="GetOrderDetailsResult" nillable="true" type="q4:OrderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>