Connected Services/MovieService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62707/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieService" />
  <xs:element name="SearchMovies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MovieService" minOccurs="0" name="SearchMoviesResult" nillable="true" type="q1:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcomingMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpcomingMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MovieService" minOccurs="0" name="GetUpcomingMoviesResult" nillable="true" type="q2:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowPlayingMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowPlayingMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MovieService" minOccurs="0" name="GetNowPlayingMoviesResult" nillable="true" type="q3:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopularMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPopularMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MovieService" minOccurs="0" name="GetPopularMoviesResult" nillable="true" type="q4:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopRatedMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopRatedMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MovieService" minOccurs="0" name="GetTopRatedMoviesResult" nillable="true" type="q5:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieGenres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MovieService" minOccurs="0" name="GetMovieGenresResult" nillable="true" type="q6:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesByGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genreId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesByGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MovieService" minOccurs="0" name="GetMoviesByGenreResult" nillable="true" type="q7:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>